.card-title span {
    font-size: 1.8em;
}

.form-group input{
    margin-bottom: 2%;
}

button {
    width: 100%;
    color: white;
    margin-bottom: 2%;
    font-size: 18pt;
}

#submitBtn {
    background-color: #7C81B8;
}

#forgotPasswordBtn {
    background-color: #FF9600;
}

#signUpBtn {
    background-color:#0C1A7F;
}

#loginCard {
    margin-top: 10%;
}

.lblLogin {
    text-align: center;
}

#uwLogoLogin{
    height: 40%; 
    width:100%;
}

.invalid {
    border: 1px solid #ea6153;
}

app-loading {
    margin: 0 auto;
}