<div class="loading-overlay" *ngIf="loading">
    <app-loading></app-loading>
</div>

<div id="loginContainer" class="container mx-auto">
  <div id="loginCard" class="card">
    <div class="card-block">
      <img class="card-img-top" id="uwLogoLogin" src="../../assets/img/United-Way-of-Delaware-logo.png" alt="Card image">
      <div class="card-title">
        <h3 class="lblLogin">Login</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm">

          <div class="form-group">
            <label for="email">Email:  </label>
            <input type="email" class="form-control" formControlName="email" autocomplete="email" id="emailInput" placeholder="Email@gmail.com" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)">
            <div *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
              <p>Please enter a valid email</p>
            </div> 
          </div>

            <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control" formControlName="password" autocomplete="current-password" id="passwordInput" placeholder="Password..." [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)">
            <div *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
              <p>Please enter a valid password</p>
            </div>
          </div>
        </form>

        <button class="btn btn-default" id="submitBtn" (click)="submitClicked()">Login</button>
        <button class="btn" id="signUpBtn" (click)="signUpClicked()">Sign Up</button>
        <button class="btn" id="forgotPasswordBtn" (click)="forgotPasswordClicked()">Forgot Password</button>
       
        <div *ngIf='message'><h4>{{message}} </h4></div>
      </div>
    </div>
  </div>
</div>
