<div class="loading-overlay" *ngIf="loading">
    <app-loading></app-loading>
</div>



<div id="createEventContainer" class="container mx-auto">
        <div id="createEventCard" class="card">
          <div class="card-block">
            <div class="card-title">
              <div class="row" align="center">
                <div class="col-sm-1" align="center"><span><i class="fas fa-calendar fa-4x"></i></span></div>
                <div class="col-sm-10"><h1>Events</h1></div>
                <br/>
              </div>
        
            </div>

    <div id="eventCard" >
    <div class="card-block">      
        <ul id="eventList" *ngFor="let event of eventList" >
            <li class="card">
                <div class="card-header">{{event.name}}</div>
                <div class="card-body">
                    <label  class="card-title">{{event.name}}</label> <br/>
                    <div class="card-text">
                        <label>Description: </label>{{' ' +event.description}} <br/>
                        <label>Date: </label>{{' ' + event.date}} <br/>
                        <label>Time: </label>{{' ' + event.time}} <br/>
                        <div>
                                <label>Location: </label><br/>
                                &nbsp; <label>Address: </label>  {{' ' +event.street}}<br>
                                &nbsp; <label>City: </label>     {{' ' +event.city}}<br>
                                &nbsp; <label>State: </label>    {{' ' +event.state}}<br>
                                &nbsp;  <label>Zipcode: </label> {{' ' +event.zipcode}}<br>
                            </div>

                            <button *ngIf="!userAttendingSelEvent" class="btn btn-primary" id="eventBtn" (click)="attendEvent()">Register</button>
                            <button *ngIf="userAttendingSelEvent"  class="btn btn-default" id="eventBtn" (click)="unAttendEvent()">Un-Register</button>

                            <!-- View all particpants if Admin -->
                            <div *ngIf='isAdminUser()' class="adminBtns">
                                <button id="eventBtn" class="btn btn-primary" (click)=showParticipants(event.id)> View All Participants</button>
                                <button id="eventBtn" class="btn btn-danger" (click)=deleteEvent(event)> Delete Event</button>
                            </div>                 
                        </div>
                </div>
            </li>
        </ul>
    </div>
  </div>
</div>
