<div class="container-fluid">
<div class="viewBox">
  <div id="circleGraphs">
  <round-progress id="advocateGraph"
      [current]=advocatePoints
      [max]=nextLvlPoints
      [color]="'#F04E30'"
      [background]="'#eaeaea'"
      [radius]="170"
      [stroke]="27"
      [semicircle]="true"
      [clockwise]="true"
      [responsive]="false"
      [duration]="800"
      [animation]="'easeInOutQuart'"
      [animationDelay]="0"
      ></round-progress>
      <round-progress id="volunteerGraph"
      offset="30"
    [current]=volunteerPoints
    [max]=nextLvlPoints
    [color]="'#FCB13F'"
    [background]="'#eaeaea'"
    [radius]="140"
    [stroke]="27"
    [semicircle]="true"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    ></round-progress>
    <round-progress id="giveGraph"
      offset="30"
    [current]=givePoints
    [max]=nextLvlPoints
    [color]="'#778FC8'"
    [background]="'#eaeaea'"
    [radius]="110"
    [stroke]="27"
    [semicircle]="true"
    [clockwise]="true"
    [responsive]="false"
    [duration]="800"
    [animation]="'easeInOutQuart'"
    [animationDelay]="0"
    ></round-progress>

    <div class="level-box">
      <span>{{level}}</span>
    </div>
  </div>

  <div class="hand-image-box">
    <img id="handLogoImg" src="./assets/img/hand.png"/>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h5>Total Points: {{currentTotal}} / {{nextLvlPoints - previousLvlPoints}}</h5>
        <div class="progress"> 
          <div class="progress-bar" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:33%">
           {{currentTotal}}
          </div>
        </div>
      </div>
    </div>

    <div class="container points-box">
      <div class="row">
        <div class="col-xs-4 col-sm-4">
            <div class="pointsContiner">
                <h3 class="pointsTxt" style="color: #F04E30">{{currentAdvocatePoints}}</h3>
            </div>
          <div class="pointLbl" style="color: #F04E30">Advocate Points</div>
        </div>

        <div class="col-xs-4 col-sm-4">
          <div class="pointsContainer">
            <h3 class="pointsTxt" style="color: #778FC8">  {{currentVolunteerPoints}} </h3>
          </div>
          <div class="pointLbl" style="color: #778FC8">Volunteer Points</div>
        </div>

        <div class="col-xs-4 col-sm-4">
          <div class="pointsContainer">
            <h3 class="pointsTxt" style="color: #FCB13F">{{currentGivePoints}}</h3>
          </div>
          <div class="pointLbl" style="color: #FCB13F">Give Points</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="statsBox" class="container">
    <div id="advocateStatsRow" class="row bbot">
      <div class="col-6">
        <span>Advocate</span>
      </div>
      <div class="col-6 points-box">
          <span>{{currentAdvocatePoints}}</span>
      </div>
    </div>
    <div id="volunteerStatsRow" class="row bbot">
      <div class="col-6">
        <span>Volunteer</span>
      </div>
      <div class="col-6 points-box">
          <span>{{currentVolunteerPoints}}</span>
      </div>
    </div>
    <div id="giveStatsRow" class="row bbot">
      <div class="col-6">
        <span>Give</span>
      </div>
      <div class="col-6 points-box">
          <span>{{currentGivePoints}}</span>
      </div>
    </div>
    <div id="totalStatsRow" class="row">
      <div class="col-6">
        <span>Total</span>
      </div>
      <div class="col-6 points-box">
          <span>{{currentTotal}} / {{nextLvlPoints - previousLvlPoints}}</span>
      </div>
    </div>
  </div> -->
    
  
</div>
</div>