#footer{
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    padding: 0px;
}

#footer img{
    height: 30%;
    width: 100%;
}

#footer #buttonGroup{
    text-align: center;
    width: 100%;
    margin-top: 1%;
}

button{
    width: 100%;
}

.give{
    background-color:#778FC8
}

.advocate{
    background-color:#F04E30 
}

.volunteer{
    background-color:#FCB13F
}

#circleGraphs #advocateGraph{
    margin: 0 auto;
}

#circleGraphs #volunteerGraph{
    margin: 0 auto;
    margin-top: -40.5%;
}

#circleGraphs #giveGraph {
    margin: 0 auto;
    margin-top: -31.8%;
}

.level-box {
    margin: 0 auto;
    text-align: center;
    margin-top: -18%;
}

.level-box span {
    font-size: 3em;
    font-weight: 1000;
}

.hand-logo-box {
    margin: 0 auto;
}

#handLogoImg {
    display: block;
    margin: auto;
    width: 30%;
    height: 30%;
}

#statsBox {
    width: 90%;
    margin: 0 auto;
    margin-top: 7%;
    background-color: #2d2d2d;
    border: 2px solid black;
    border-radius: 25px;
}

div.points-box {
    margin-top: -10%;
    text-align: center;
}

.bbot{
    border-bottom: 1px solid #d8d8d8;
}

#advocateStatsRow {
    color: #F04E30;
}

#volunteerStatsRow {
    color: #FCB13F;
}

#giveStatsRow {
    color: #778FC8;
}

#totalStatsRow {
    color: #d8d8d8;
}

.viewBox {
    margin-top: 9%;
}

.pointsContainer {

}

.pointsTxt {
    padding:1em;
    text-align: center;
}

.pointLbl{
    text-align: center;
}