<div class="loading-overlay" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div id="signUpContainer" class="container mx-auto">
  <div id="signUpCard" class="card">
    <div class="card-block">
      <div class="card-title">
        <span>Sign Up</span>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" autocomplete="given-name" id="firstNameInput" placeholder="First Name...">
            <input type="text" class="form-control" autocomplete="family-name" id="lastNameInput" placeholder="Last Name...">
            <input type="email" class="form-control" autocomplete="email" id="emailInput" placeholder="Email...">
            <input type="password" class="form-control" autocomplete="new-password" id="passwordInput" placeholder="Password...">
            <input type="password" class="form-control" autocomplete="new-password" id="reEnterPasswordInput" placeholder="Re-Enter Password...">
          </div>
        </form>
        <button class="btn" id="signUpBtn" (click)="signUpClicked()">Sign Up</button>
        <button class="btn" id="cancelBtn" (click)="cancelClicked()">Cancel</button>
      </div>
    </div>
  </div>
</div>
