.card-title span {
    font-size: 1.8em;
}

.form-group input{
    margin-bottom: 2%;
}

button {
    width: 100%;
    margin-bottom: 2%;
}

#signUpBtn {
    background-color: #FE230A;
}

#signUpCard {
    margin-top: 10%;
}

#cancelBtn {
    background-color: #7278B7;
}

app-loading {
    margin: 0 auto;
}