#adminContainer {
    padding: 2em;
}

#adminTable {
    padding: 1em;
    margin: 2em;
}

table, th, td {
    border: 1px solid black;
    padding:1em;
}

th {
    background-color: black;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
}

#emailInput {
    width:81%
}

#addButton {
    width:100%;
}

#removeButton {
    width:100%;
}
