

<div id="adminContainer" class="container mx-auto">
  
  <div class="row" align="center">
    <div class="col-sm-1">
        <span><i class="fas fa-user fa-4x"></i></span>
    </div>

    <div class="col-sm-10">
        <h2><b>Manage Admin Users</b></h2>
    </div>
    
</div> 

<input id= "emailInput" #emailInput
  (keyup.enter)="setAdminAccessByEmailInput(emailInput.value); emailInput.value='' "
  (blur)="setAdminAccessByEmailInput(emailInput.value); emailInput.value='' ">

<button class="btn btn-success" id="setAdminAccessByEmailInput" (click)="setAdminAccessByEmailInput(emailInput.value)">Add</button> <br>


<!-- <br><button class="btn" id="getAllUsers" (click)="getAllUsers()">Get All Users</button> 
<br><button class="btn" id="getAdminUsers" (click)="getAdminUsers()">Get Admin Users</button> -->

<!-- <h3>Current User: {{currentUser}}</h3>  -->
<br>



    <!-- Manage User Admin Access Table -->
    <div align="left">
      <table id="adminAccessTable">
          <tr>
            <th>Email</th>
            <th>Admin</th>
            <th>Manage Access</th>
          </tr>
          <tr *ngFor="let user of allUsers">
            <td >{{user.email}}</td>
            <td> {{user.admin}}</td>
            <td>
              <input class="btn btn-success" id="addButton" type="button" (click)="setAdminAccess(user.email)" value="Add" /> 
              <input class="btn btn-danger" id="removeButton" type="button" (click)="removeAdminAcess(user.email)" value="Remove" />
            </td>
          </tr>
      </table>
    </div>
  </div>










  <!-- <div id="adminCard" class="card">
    <div class="card-block">
      <div class="card-title">
        <span>Add New Admin User</span>
      </div>
      <div class="card-body">
        <form [formGroup]="adminForm">
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" autocomplete="email" id="emailInput" placeholder="Email" [class.invalid]="!adminForm.controls.email.valid && (adminForm.controls.email.dirty || submitAttempt)">
          </div>
          <button class="btn" id="setAdminAccess" (click)="setAdminAccess()">Set Admin User</button> <br>
          <button class="btn" id="removeAdminAcess" (click)="removeAdminAcess()">Remove Admin User</button>
        </form>
      </div>
    </div> -->

  <!-- <h4>Current Admin Users (Dev)</h4>

  <select [(ngModel)]="selectedAdminUser" >
    <option *ngFor="let adminUser of adminUsers" [ngValue]="adminUser">
        {{ adminUser.email }}
    </option>
</select> -->

<!-- <div align="left">
    <h3>Admin User Info:</h3>
    <h6>Name: {{ selectedAdminUser.email }} </h6>
    <h6>isAdmin: {{ selectedAdminUser.admin }} </h6>
</div> -->