<div class="container-fluid">
  <div>
    <div class="container">
        <h2>Donate to the United Way of Delaware</h2>
        <h5>Please select an amount to donate to the United Way of Delaware.</h5> 
    </div>
     
    <div class="container well well-lg">
      <h2>Thank you for your donation to the United Way</h2>
    
      <p>You may save this page for your reconds</p>
      <label>Dontation Amount: </label>
      <label>Date: </label>
      </div>
      <br/>
    </div>
</div>