<div class="container-fluid">
    <div class="container">
        <h4>Donate to the United Way of Delaware</h4> <br/>

    </div>

<div id="workflowDonate">
  
  <div class="container">

    <div class="stepwizard col-md-offset-4">
        <div class="stepwizard-row setup-panel">
          <div class="stepwizard-step">
            <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
            <p>Step 1</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
            <p>Step 2</p>
          </div>
          <div class="stepwizard-step">
            <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
            <p>Step 3</p>
          </div>
        </div>
      </div>
      
      <form role="form" action="" method="post">
        <div class="row setup-content" id="step-1">
          <div class="col-xs-10 col-md-12">
            <div class="col-md-12">

              <h3> Select an amount</h3> <br/>

              <div class="form-group">
                <div class="paymentButtons">          
                  <div class="row" >
        
                    <!-- $25 -->
                    <div class="col-xs-4 col-sm-4">
                        <div class="btn btn-default btn-sm paymentBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtn25' }">
                            <input class="form-check-input rdPaymentOption" 
                            name="rdBtnPayment" type="radio" id="rdBtn25" value="25.00" [(ngModel)]="paymentAmount" (click)="onSelectBox($event);">
                            <label class="amountLabel" for="rdBtn25">
                              $ 25.00 
                            </label>
                          </div>
                    </div> 
        
                    <!-- $50 -->
                    <div class="col-xs-4 col-sm-4">
                        <div class="btn btn-default btn-sm paymentBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtn50' }">
                            <input class="form-check-input rdPaymentOption"
                            name="rdBtnPayment" type="radio"  id="rdBtn50" value="50.00" [(ngModel)]="paymentAmount" (click)="onSelectBox($event);" >
                            <label class="amountLabel" for="rdBtn50">
                              $ 50.00 
                            </label>
                          </div>
                    </div>
        
                    <!-- $75 -->
                    <div class="col-xs-4 col-sm-4">
                        <div class="btn btn-default btn-sm paymentBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtn75' }" >
                            <input class="form-check-input rdPaymentOption"
                            name="rdBtnPayment" type="radio" id="rdBtn75" value="75.00" [(ngModel)]="paymentAmount" (click)="onSelectBox($event);">
                            <label class="amountLabel" for="rdBtn75">
                              $ 75.00 
                            </label>
                          </div>
                    </div>
                  </div>
        
                  <div class="row">
                    <!-- $100 -->
                      <div class="col-xs-4 col-sm-4">
                          <div class="btn btn-default btn-sm paymentBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtn100' }" >
                            <input class="rdPaymentOption" 
                            name="rdBtnPayment" type="radio" id="rdBtn100" value="100.00" 
                            [(ngModel)]="paymentAmount"  (click)="onSelectBox($event);">
                            
                            <label class="amountLabel" for="rdBtn100">
                              $ 100.00 
                            </label>
                           </div>
                      </div>
                      
                      <!-- $150 -->
                      <div class="col-xs-4 col-sm-4">
                          <div class="btn btn-default btn-sm paymentBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtn150' }" >
                              <input class="rdPaymentOption" 
                              name="rdBtnPayment" type="radio" id="rdBtn150" value="150.00" 
                              [(ngModel)]="paymentAmount" (click)="onSelectBox($event);" >
        
                              <label class="amountLabel" for="rdBtn150">
                                $ 150.00
                              </label>
                           </div>
                      </div>
        
                      <!-- $200 -->
                      <div class="col-xs-4 col-sm-4">
                          <div class="btn btn-default btn-sm paymentBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtn200' }">
                              <input class="rdPaymentOption" 
                              name="rdBtnPayment" type="radio" id="rdBtn200" value="200.00" 
                              [(ngModel)]="paymentAmount" (click)="onSelectBox($event);">
        
                              <label class="amountLabel" for="rdBtn200">
                                $ 200.00
                              </label>
                           </div>
                      </div>
        
                  </div>
                
                  <div class="row">
                  
                    <!-- Custom Amount -->
                      <div class="col-xs-12 col-sm-12">
                          <div class="btn btn-default form-check" id="customAmountBtn" [ngClass]="{'btnSelected': btnSelected=='rdBtnCustom' }" >
                            <label class="customAmountLbl" for="rdBtnCustom">Custom Amount<br />
                              <input [hidden]="btnSelected!='rdBtnCustom'" class="customAmount" name="customAmount" type="number" id="customAmount" placeholder="500.00" [(ngModel)]="paymentAmount">
                            </label><br/>
                            <input class="rdPaymentOption"
                              name="rdBtnCustom" type="radio" name="rdBtnPayment" id="rdBtnCustom" value="0.00" [(ngModel)]="paymentAmount" (click)="onSelectBox($event);" >
                            </div>
                      </div>
        
                  </div>
                  <br>
                  <div align="center" id="paypal-button" class="paymentButtons" ></div>
                  
        
                </div>
              </div>
              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
          </div>
        </div>
        <div class="row setup-content" id="step-2">
          <div class="col-xs-10 col-md-offset-2">
            <div class="col-md-12">
              <h3> Donate using PayPal</h3>
              <div class="form-group">
  
                  <div id="paypal-button" class="paymentButtons" ></div>
                  <br /><br /><br />
                 </div>
              <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previous</button>
              <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>

            <!-- If Custom Amount radio button is selected, then show -->
            <div ng-switch="paymentAmount">
              <div ng-switch-when="customAmount"  >
              </div>
            </div>

            <div ng-class="selectedBtn">
            </div>

          </div>
        </div>
        <div class="row setup-content" id="step-3">
          <div class="col-xs-12 col-md-offset-2">
            <div class="col-md-12">
              <br/>
              <h4> Thank You For Your Donation!</h4>
              <br/>
              <h4> Summary</h4>
              <h5>Date: 4/30/2018</h5>
              <h5>Payment Amount: $25.00</h5>
              <br/> <br/>
              <button class="btn btn-primary prevBtn btn-lg pull-left" type="button">Previous</button>
              <!-- <button class="btn btn-success btn-lg pull-right" type="submit">Submit</button> -->
            </div>
          </div>
        </div>
      </form>
      
    </div>
</div>
    

      <br/>
   
    </div>

    <script>
    $(document).ready(function () {
      var navListItems = $('div.setup-panel div a'),
              allWells = $('.setup-content'),
              allNextBtn = $('.nextBtn'),
            allPrevBtn = $('.prevBtn');
    
      allWells.hide();
    
      navListItems.click(function (e) {
          e.preventDefault();
          var $target = $($(this).attr('href')),
                  $item = $(this);
    
          if (!$item.hasClass('disabled')) {
              navListItems.removeClass('btn-primary').addClass('btn-default');
              $item.addClass('btn-primary');
              allWells.hide();
              $target.show();
              $target.find('input:eq(0)').focus();
          }
      });
      
      allPrevBtn.click(function(){
          var curStep = $(this).closest(".setup-content"),
              curStepBtn = curStep.attr("id"),
              prevStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().prev().children("a");
    
              prevStepWizard.removeAttr('disabled').trigger('click');
      });
    
      allNextBtn.click(function(){
          var curStep = $(this).closest(".setup-content"),
              curStepBtn = curStep.attr("id"),
              nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
              curInputs = curStep.find("input[type='text'],input[type='url']"),
              isValid = true;
    
          $(".form-group").removeClass("has-error");
          for(var i=0; i<curInputs.length; i++){
              if (!curInputs[i].validity.valid){
                  isValid = false;
                  $(curInputs[i]).closest(".form-group").addClass("has-error");
              }
          }
    
          if (isValid)
              nextStepWizard.removeAttr('disabled').trigger('click');
      });
    
      $('div.setup-panel div a.btn-primary').trigger('click');
    });
  </script>
