CSSHTMLJSCSS

body {
  cursor: default;
}

/* PayPal Styles */
.paypal-button {
  margin:1.5em;
 }

div.paymentBtn {
  width: 7.3em;
}

#customAmountBtn {
  width:110%;
}

div.paymentBtn,
div#customAmountBtn {
  margin-bottom: 1em;
  /*height: 4em;*/
  margin-left:-8px;
  border-radius: 4px;
  border: 1px solid;
  overflow: auto;
  padding:0;
  background: #0c1a7f;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

div.paymentBtn:hover,
div.paymentBtn.btnSelected,
div#customAmountBtn:hover,
div#customAmountBtn.btnSelected {
  border: 1px dotted gray;
  background: linear-gradient(to bottom, #ffcc00 0%, #ff9900 100%);
}

div.paymentBtn label.amountLabel,
div#customAmountBtn label.customAmountLbl {
  margin-bottom:0px;
  width:100%;
  line-height: 46px;
  padding:5px;
}

div#customAmountBtn label.customAmountLbl input {
  color: initial;
  width: 7em;
}

div#customAmountBtn.btnSelected label.customAmountLbl {
  line-height: 20px;  
}

div.paymentBtn:hover + .amountLabel{
  color: black;
}

div#customAmountBtn:hover + .amountLabel{
  color:black;
}

.amountLabel {
  font-size: 15pt;
  color:white;
}

 /* Radio Button CSS */

 input.rdPaymentOption {
  visibility: hidden;
  display:none;
}

.selectedBtn {
  background-color: blue;
}

  input.rdPaymentOption:checked + .paymentBtn:before {
    border:2px black bold;
    background-color: lightblue;
    font-size: 200em;
    }

    input.rdPaymentOption:checked + .paymentBtn:after {
      border:2px black bold;
      background-color: red;
      font-size: 200em;
      }

      .btn-default:checked{
        border: 2px solid red;
      }


/* Custom Amount */
#customAmount{
  width:4em;
}

label.customAmountLbl {
  color:white;
}

input#rdBtnCustom:checked  ~ #customAmount{
  display: block;
}

input#rdBtnCustom:after  ~ #customAmount{
  display: none;
}

    body {
      margin-top:40px;
    }
    .stepwizard-step p {
      margin-top: 10px;
    }
    .stepwizard-row {
      display: table-row;
    }
    .stepwizard {
      display: table;
      width: 90%;
      position: relative;
    }
    .stepwizard-step button[disabled] {
      opacity: 1 !important;
      filter: alpha(opacity=100) !important;
    }
    .stepwizard-row:before {
      top: 14px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc;
      z-order: 0;
    }
    .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative;
    }
    .btn-circle {
      width: 30px;
      height: 30px;
      text-align: center;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.428571429;
      border-radius: 15px;
    }
    