<div class="loading-overlay" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div id="createEventContainer" class="container mx-auto">
<div id="createEventCard" class="card">
  <div class="card-block">
    <div class="card-title">
      <div class="row">
        <div class="col-sm-1" align="center"><span><i class="fas fa-calendar-plus fa-4x"></i></span></div>
        <div class="col-sm-10" align="center"><h1>Create Event</h1></div>
        <br/>
      </div>

    </div>
    <div class="card-body">
      <form [formGroup]="createEventForm" class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2">Event Name</label>
          <input type="name" class="form-control col-sm-10" required formControlName="name" autocomplete="name" id="nameInput" placeholder="Event Name">
          <br/>
        </div>

         <div class="form-group">
          <label class="col-sm-2">Date</label>
          <input type="date" class="form-control col-sm-10" required formControlName="date" autocomplete="date" id="dateInput" placeholder="Date">
         </div>

         <div class="form-group">
          <label class="col-sm-2">Start Time</label>
          <input type="time" class="form-control col-sm-10" required formControlName="time" autocomplete="time" id="timeInput" placeholder="Time">
         </div>

         <div class="form-group">
            <label class="col-sm-2">End Time</label>
            <input type="time" class="form-control col-sm-10" required formControlName="time" autocomplete="time" id="timeInput" placeholder="Time">
           </div>

        <div class="form-group">
          <label class="col-sm-2">Venue Name</label>
          <input type="street" class="form-control col-sm-10" formControlName="venueName" autocomplete="street" id="streetInput" placeholder="Venue">
        </div>

         <div class="form-group">
          <label class="col-sm-2">Street Address</label>
          <input type="street" class="form-control col-sm-10" formControlName="street" autocomplete="street" id="streetInput" placeholder="Street">
         </div>

         <div class="form-group">
          <label class="col-sm-2">City</label>
          <input type="city" class="form-control col-sm-10" formControlName="city" autocomplete="city" id="cityInput" placeholder="City">
         </div>

         <div class="form-group">
          <label class="col-sm-2">State</label>
          <input type="state" class="form-control col-sm-10" formControlName="state" autocomplete="state" id="stateInput" placeholder="State">
         </div>

         <div class="form-group">
          <label class="col-sm-2">Zipcode</label>
          <input type="zipcode" class="form-control col-sm-6" formControlName="zipcode" autocomplete="zipcode" id="zipcodeInput" placeholder="Zip Code">
         </div>  
         
         <div class="form-group">
            <label class="col-sm-2">Description</label>
            <textarea rows="5" class="col-sm-10" id="descriptionInput"></textarea>
            <!-- <input rows="5" type="description" class="form-control col-sm-10" formControlName="description" autocomplete="description" id="descriptionInput" placeholder="Description"> -->
           </div>

      </form>
      <button class="btn" id="createEventBtn" (click)="createEvent()">
        <span><i class="fas fa-plus-circle"></i></span> 
        Create Event
      </button>
    </div>
  </div>
</div>
</div>