* {
    /* font-family: 'Raleway', sans-serif; */
}

body {
    height:100%;
}

#uwdeLogo {
    display: flex;
    height: 50%;
    width:50%;
    top: 0;
}
a.navbar-brand{
    height: 30%;
    padding:0;
}

.nav {
    cursor: default;
    background-color:#0C1A7F;
    font: 14px white 2em;
}

#ulNavBar {
    margin-left: 2em;

}

.navbar {
    background-color: #0C1A7F;
}

.navbar-toggle {
    background-color: #0C1A7F;
}

.navbar-default .navbar-nav>li>a {
    color:white !important;
    font: 13pt solid bold;
}


#navbarRight {
    float: right;
}

ul{
    display:inline-block;
}

footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: black;
    color:white;
}
footer #UWlogoFooter {
    position: absolute;
}

#headerLogo {
    width:65px;
    height:65px;
}
