  <nav class="navbar navbar-default">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand"  href="#">
           <img id="uwdeLogo" src="../assets/img/UDWEIcon.jpg">
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" id="ulNavBar">            
            <li><a href="./#/event"><span><i class="fas fa-calendar"></i></span> Events</a></li>
            <li *ngIf="userAdminAccess">
              <a href="./#/create-event"><span><i class="fas fa-calendar-plus"></i></span> Create Event</a></li>            
            <li><a href="./#/donate"><span><i class="fas fa-donate"></i></span> Donate</a></li>
            <li><a href="./#/dash"><span><i class="fas fa-tachometer-alt"></i></span> Dashboard</a></li>
          </ul>

            <ul class="nav navbar-nav" id="navbarRight">
              <li><a href="./#/game"><span><i class="fas fa-user"></i></span> User Profile</a></li>
              <li><a href="./#/login" routerLink="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <li *ngIf="userAdminAccess">
                  <a href="./#/admin-manager"><span><i class="fas fa-users"></i></span> Manage Admins</a></li>
              <li> <button class="btn" id="flipAdminAccess" (click)="flipAdminAccess()">Admin Switch</button></li>
                </ul>
            
        </div>
      </div>
    </nav>
   


<router-outlet>

</router-outlet>

<!-- <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4">
         <img id="UWlogoFooter" style="width:80%; height:80%;" src="http://www.unitedway-york.org/sites/unitedway-york.oneeach.org/files/live-united-footer.png" > 
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
            <h4>Advocate</h4>
            <div> 
              <a target="_blank" href="https://www.facebook.com/UnitedWayofDelaware/"><img src="https://uwd1.unitedwayepledge.org/epledge/Style/UWWRed/facebook.gif" title="Facebook" alt="" /></a> 
              <a target="_blank" href="http://www.twitter.com/@unitedwayde"><img src="https://uwd1.unitedwayepledge.org/epledge/Style/UWWRed/twitter.gif" title="Twitter" alt="" /></a> 
              <a target="_blank" href="https://www.youtube.com/channel/UCAyNR3wkHdxe5E0-3xflYcg"><img src="https://uwd1.unitedwayepledge.org/epledge/Style/UWWRed/youtube.gif" title="YouTube" alt="" /></a> 
              <a target="_blank" href="https://www.linkedin.com/company/united-way-of-delaware"><img src="https://uwd1.unitedwayepledge.org/epledge/Style/UWWRed/linkedin.gif" title="LinkedIn" alt="" /></a> 
              </div> 
        </div>
        <div class="col-xs-4 col-sm- col-md-4">
            <h4>Connect</h4>
            <div>
              <address>
                625 North Orange Street <br/>
                Wilmington, DE 19801 <br/>
              </address>
            </div>
          </div>
      </div>
    </div>
</footer> -->

