.card-title span {
    font-size: 1.8em;
}

.form-group input{
    margin-bottom: 2%;
}

button {
    width: 100%;
    margin-bottom: 2%;
}

#submitBtn {
    background-color: #FF9600;
}

#cancelBtn {
    background-color: #FE230A;
}

#loginCard {
    margin-top: 10%;
}

.invalid {
    border: 1px solid #ea6153;
}

app-loading {
    margin: 0 auto;
}