<div class="loading-overlay" *ngIf="loading">
  <app-loading></app-loading>
</div>

<div id="loginContainer" class="container mx-auto">
<div id="loginCard" class="card">
  <div class="card-block">
    <div class="card-title">
      <span>Forgot Password</span>
    </div>
    <div class="card-body">
      <form [formGroup]="forgotPasswordForm">
        <div class="form-group">
          <p>Enter the email address your account is associated with</p>
          <input type="email" class="form-control" formControlName="email" autocomplete="email" id="emailInput" placeholder="Email..." [class.invalid]="!forgotPasswordForm.controls.email.valid && (forgotPasswordForm.controls.email.dirty || submitAttempt)">
          <div *ngIf="!forgotPasswordForm.controls.email.valid  && (forgotPasswordForm.controls.email.dirty || submitAttempt)">
            <p>Please enter a valid email</p>
          </div>
        </div>
      </form>
      <button class="btn" id="submitBtn" (click)="submitClicked()">Send Email</button>
      <button class="btn" id="cancelBtn" (click)="cancelClicked()">Cancel</button>
      <div *ngIf='message'><h4>{{message}} </h4></div>
    </div>
  </div>
</div>
</div>
