
  <div class="jumbotron"> <h2>United Way of Delaware</h2></div>

  <div class="NewsEvents">
    <h3><b>Recent News:</b></h3>

      <ul style="list-style-type:circle">
        <li>
          <a href="http://www.uwde.org/category/advocate/" id="newsEvent"> 
            <font size="4">Women United- Building A Life Long Love Of Reading</font>
          </a> 
        </li>
        <li>
            <a href="http://www.uwde.org/category/advocate/" id="newsEvent"> 
              <font size="4">Giving On The Greens 2017 Golf Classic Re Cap</font>
            </a> 
        </li>
        <li>
          <a href="http://www.uwde.org/category/advocate/" id="newsEvent"> 
            <font size="4">Ballard’s Reading Buddies Event Kick Off</font>
          </a> 
        </li>
      </ul>
  </div>

  <div class="InfoEvents">
    <h3><b>Learn:</b></h3>
    
    <ul style="list-style-type:circle">
        <li>
            <a href="/our-impact/focus/health" id="infoEvent"> 
              <font size="4">Health</font>
            </a> 
        </li>
        <li>
            <a href="/our-impact/focus/education" id="infoEvent"> 
              <font size="4">Education</font>
            </a> 
        </li>
        <li>
            <a href="/our-impact/focus/income" id="infoEvent"> 
              <font size="4">Financial Stability</font>
            </a> 
        </li>                  
      </ul>
  </div>










<!-- <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

<!-- Your share button code -->
<!-- <br><br>
<div class="fb-share-button" 
  data-href="http://localhost:4200/dashboard" 
  data-layout="button_count">
</div>

<br><a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share"></script>
</div> -->